/* your styles go here */

.pagination-sm .page-link {
    padding: 0.4rem 0.8rem;
    font-size: 1.0rem;
}

.pagination-sm .page-item:first-child .page-link {
    border-bottom-left-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
}

.pagination-sm .page-item:last-child .page-link {
    border-bottom-right-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}